# filesystem files
.DS_Store

# Logs
logs
*.log

# Persistent data
data
test-data

# Dependency directory
node_modules

#do not commit config with apiToken
config.coffee

#do not commit editor config files
.idea